/*voorbeeld:  https://github.com/Danielledkhva/blok-web/blob/master/style.css*/

* {
    box-sizing: border-box;
}
body{
    font-family: roboto, sans-serif;
    width: 100%;
    margin: 0;
}


/*Basic*/

h1 {
    color: black;
    font-size: 1.4em;
    font-weight: 600;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
h2 {
    font-size: 1.2em;
}
h3 {
    font-size: 1em;
    margin-top: 0;
}
h4 {
    font-size: 0.8em;
    font-weight: 700;
    margin-bottom: 0em;
    color: #e7772b;
}
p {
    font-size: 1em;
}



/*Navigatie*/

header {
    width: 100%;
    text-align: center;
    background: #675c53;
    height: 2.5em;
    padding-right: 1em;
    position: fixed;
    z-index: 5;
    display: flex;
    align-items: center;
}
header > a p {
    color: white;
    margin: auto;
}
header > a {
    justify-content: flex-start;
    margin-right: auto;
    display: flex;
    text-decoration-line: none;
}
header > a > img {
    margin-left: 5%;
    height: 2.5em;
}
header > form{
    padding-right: 1em;
}



/*Overzichtspagina*/

section {
    background: #e7772b;
    width: 100%;
    padding-bottom: 1em;
    padding-top: 4.5em;
}
section > div > div {
    background: white;
    width: 80%;
    padding: 1em;
    padding-top: 1.8em;
    padding-bottom: 1.8em;
    margin-bottom: 0;
    border-radius: 0em 1em 1em 0em;
}
section > div > div > button {   /*filteren bovenaan*/
    font-size: 1em;
    width: 50%;
    text-align: left;
    padding: 0.5em;
    padding-left: 0em;
    border: 0;
    border-bottom: 1px solid #8d857e;
    background: none;
}
section > div > p {
    background: rgba(255, 255, 255, 0.2);
    font-size: 0.8em;
    color: white;
    width: 70%;
    padding: 0.5em;
    padding-left: 1em;
    margin-top: 0em;
    margin-bottom: 0em;
    border-radius: 0em 0em 1em 0em;
}



/*Filteropties*/
/*Genre*/
/*Bron: https://www.webdeveloper.com/forum/d/237908-two-column-in-fieldset/6*/
section > form > fieldset > legend {
    font-weight: 500;
}
section > form > fieldset {
    width: 100%;
    margin-bottom: 1em;
}
section > form > fieldset > div {
    font-size: 1em;
    float: left;
    width: 12em;
    padding-right: 0.5em;
}
section > form > fieldset > div > label {
      clear: both;
      display: block;
      margin: 3px 0;
}
section > form > fieldset > div > label> input {
      float: left;
}

/*Leestijd*/
/*Bron: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_rangeslider*/

section > form > fieldset:nth-of-type(2) > div{
    width: 100%;
}
section > form > fieldset:nth-of-type(2) > div > input {
      -webkit-appearance: none;
      width: 100%;
      height: 1em;
      background: #f1f1f1;
      outline: none;
      opacity: 0.7;
      -webkit-transition: .2s;
      transition: opacity .2s;
    border-radius: 1em 1em 1em 1em;
}
section > form > fieldset:nth-of-type(2) > div > input:hover {
  opacity: 1;
}
section > form > fieldset:nth-of-type(2) > div > input::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 2em;
      height: 2em;
      background: #e7772b;
      cursor: pointer;
    border-radius: 1em 1em 1em 1em;
}
section > form > fieldset:nth-of-type(2) > div > input::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #e7772b;
  cursor: pointer;
}

/*Tekstvormen*/
section > form > fieldset > button {
    padding: 0.5em;
    margin-bottom: 0.3em;
    font-size: 1em;
    border-radius: 0.5em 0.5em 0.5em 0.5em;
    background: white;
    box-shadow: 0 0.3em 0.8em 0 rgba(231, 119, 43, 0.3);
}
section > form > fieldset > button:hover {
    background: #e7772b;
    color: white;
    cursor: pointer;
}
/*!!!!!Hoe moet je iets noemen als een knop geactiveert moet blijven???!!!!!*/
section > form > fieldset > button::selection {
    background: #e7772b;
    color: white;
}

form > input {
    width: 10em;
    font-size: 1em;
    color: white;
    padding: 1em;
    padding-left: 2em;
    padding-right: 2em;
    background: #d6cec6;
    border-radius: 1em 1em 1em 1em;
}
form > input:hover {
    background: #e7772b;
    cursor: pointer;
}



/*Meest gelezen verhaal*/

section:nth-of-type(2) {
    background-color: #f1f1f1;
    width: 100%;
    height: 14em;
    padding: 1em;
    margin-bottom: 8em;
}
section > a > article {
    width: 90%;
    height: 12em;
    background: white;
    border-radius: 0.5em 0.5em 0.5em 0.5em;
    box-shadow: 0 0.8em 0.8em 0 rgba(103, 92, 83, 0.3);
    position: relative;
}
section > a {
    width: 100%;
    margin: auto;
}
section > a:nth-of-type(2) {
    visibility: hidden;
}
section > a > article > img{
    width: 100%;
    height: 100%;
    border-radius: 0.5em 0.5em 0.5em 0.5em;
}
section > a > article > div {
    width: 80%;
    background: white;
    position: absolute;
    top: 1em;
    right: -1%;
    margin-right: -2em;
    padding: 1em;
    border-radius: 0.5em 0.5em 0.5em 0.5em;
    box-shadow: 0 0.8em 0.8em 0 rgba(103, 92, 83, 0.3);
}
section > a > article > div > footer > ul li {
    font-size: 0.8em;
    list-style-type: none;
    margin-left: -3em;
}
section > a > article > div > footer > div > img{
    float: left;
    margin: 0em;
    margin-right: 0.2em;
}
section > a > article > div > footer > div > p {
    font-size: 0.8em;
    float: left;
    margin: auto;
    margin-top: auto;
    margin-right: 2em;
}



/*Resultaten*/
section:nth-of-type(3) {
    display: flex;
    padding: 0;
    height: 2em;
    margin: 0;
    background: white;
    align-items: center;
}
section > form:nth-of-type(3) {
    background: white;
}
section:nth-of-type(3) > h2 {
    display: flex;
    /justify-content: space-between;
    align-items: center;
    /width: 20em;
    margin: 0;
    padding-left: 1em;
}

/*HIER NOG EVEN NAAR KIJKEN!!!!!!!!!!*/
/section:nth-of-type(3) > form {
    padding: 0;
    padding-right: 5em;
    margin-top: 0;
    width: 0;
    background: red;
}
section:nth-of-type(3) {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
section:nth-of-type(3) > form > select {
    display: flex;
    color: white;
    width: 10em;
    padding: 0.5em;
    margin: 0;
    text-align: left;
    background: black;
    border-bottom: 1px solid #e7772b;
}

main > a {
    text-decoration-line: none;
}
main > a > article {
    width: 90%;
    margin: auto;
    margin-bottom: 2em;
    border-radius: 0.5em 0.5em 0.5em 0.5em;
    box-shadow: 0 0.8em 0.8em 0 rgba(103, 92, 83, 0.3);
}
main > a article > img{
    width: 100%;
    height: 10em;
    border-radius: 0.5em 0.5em 0em 0em;
}
main > a article > div {
    margin-top: 1em;
    padding-left: 1em;
}
main > a article > div > footer {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}
main > a article > div > footer > ul li {
    font-size: 0.8em;
    list-style: none;
    margin-left: -3em;
}
main > a article > div > footer > div > img{
    float: left;
    margin: 0em;
    margin-right: 0.2em;
}
main > a article > div > footer > div > p {
    font-size: 0.8em;
    float: left;
    margin: auto;
    margin-top: auto;
    margin-right: 2em;
}

/*Footer*/

body > footer {
    background: rgb(241, 241, 241);
    padding-top: 2em;
    margin-top: 2em;
}
footer > h2 {
    margin-left: 5%;
}
footer > a {
    color: #54a5dd;
    padding-bottom: 1em;
    margin-bottom: 1em;
    text-decoration-line: underline;
    text-align: left;
    margin-left: 5%;
    display: block;
    border-bottom: 1px solid #8d857e;
    margin-right: 1em;
}
body > footer > div {
    background: white;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-right: 1em;
    margin-top: 2em;
}
footer > div > img {
    margin-bottom: 1em;
    margin-left: 5%;
}
footer > div > a {
    color: #afa9a2;
    padding-bottom: 1em;
    margin-bottom: 1em;
    text-decoration-line: none;
    text-align: left;
    margin-left: 5%;
    display: block;
}




/*Inlogpagina*/
section > h1 {
    padding-left: 5%;
}
section > form {
    background: white;
    border-radius: 1em 1em 1em 1em;
    width: 95%;
    padding: 1em;
    margin: auto;
    margin-bottom: 2em;
}
section > form > fieldset > label > input {
    width: 60%;
    height: 2em;
    border: none;
    border-bottom: 1px solid #8d857e;
}
section > form > a {
    color: #54a5dd;
    display: block;
    margin-top: 1em;
}

section > ul > img {
    float: left;
    width: 1em;
    height: 1em;
    margin-right: 1em;
}
section > ul > img:last-of-type {
    margin-top: 1em;
}
section > ul  {
    padding: 0;
}
section > ul li  {
    list-style-type: none;
    margin-top: 1em;
}
section > button {
    min-width: 10em;
    font-size: 1em;
    color: white;
    padding: 1em;
    padding-left: 2em;
    padding-right: 2em;
    background: #675c53;
    border-radius: 1em 1em 1em 1em;
    box-shadow: 0 8px 18px 0 rgba(103,92,83,.3);
}
section > button:hover {
    font-size: 1em;
    color: white;
    padding: 1em;
    padding-left: 2em;
    padding-right: 2em;
    background: #675c57;
    border-radius: 1em 1em 1em 1em;
    cursor: pointer;
}

/*Verhalenpagina*/
section > footer > ul li {
    float: left;
    color: white;
    font-size: 0.8em;
    list-style-type: none;
    margin-right: 3em;
}
section > footer > div > img{
    float: left;
    margin: 0em;
    margin-left: 5%;
    margin-right: 0.2em;
}
section > footer > div > p {
    font-size: 0.8em;
    float: left;
    margin: auto;
    margin-top: auto;
    margin-right: 2em;
}
main > img {
    width: 100%;
    height: 100%;
}




/*microinteractie*/

.filter{
    visibility: hidden;
    /color: white;
    height: 0;
    /padding-top: 0em;
    /padding-bottom: 0em;
    transition: 0.5s;
}
.zichtbaar{
    background: white;
    height: auto;
    padding: 1em;
    padding-top: 1.8em;
    padding-bottom: 1.8em;
    margin-top: 1em;
    border-radius: 1em 1em 1em 1em;
    visibility: visible;
}
fieldset {
    border-style: none;
}


@media(min-width: 60em){
  body{
        /width: 100%;
        display: grid;
        /grid-template-columns: repeat (3, 1fr);
        grid-template-columns: 5% 30% 30% 30% 5%;
        grid-template-rows: auto auto auto auto auto;
      }
    header {
        /margin: auto;
    }
    section:nth-of-type(1) {
        display: grid;
        grid-row-start: 1 / 2;
        grid-column: 1 / 6;
        height: auto;
    }
    section > div > div {
        width: 100%;
        border-radius: 1em 1em 1em 1em;
        height: 8em;
    }
    section > div {
        /display: grid;
        grid-column: 2 / 3;
    }
    section > div > div button {   /*filteren bovenaan*/
        visibility: hidden;
    }
    section > div >  p {
        border-radius: 0em 0em 1em 1em;
        margin-left: 5%;
    }
    .filter{
        display: grid;
        visibility: visible;
        height: auto;
        width: 80%;
        margin-top: 0em;
        grid-column: 6 / 6;
}


    section:nth-of-type(2) {
        display: grid;
        grid-column: 1 / 6;
        /grid-template-columns: 50% 50%;
        /grid-template-rows: 3em;
        /margin: auto;
        /margin-bottom: ;
}
    section > a {
        grid-row-start: 2;
    }
    section > a:nth-of-type(2) {
        visibility: visible;
}
    main {
        display: grid;
        grid-column: 1 / 6;
        grid-template-columns: 33% 33% 33%;
    }
    body > footer{
        display: grid;
        grid-column: 1 / 6;
        justify-content: flex-start;
        align-content: center;
    }
    body > footer a{
        display: inline-flex;
        width: 100%;
        margin-right: 2em;
        grid-row-start: 2;
    }
    body > footer > div {
        display: grid;
        grid-column: 1 / 6;
        align-items: center;
    }
    body > footer img{
        grid-row-start: 2;
    }
    body > footer > div a {
        display: flex;
        padding: 0em;
    }
  }
