/*voorbeeld:  https://github.com/Danielledkhva/blok-web/blob/master/style.css*/

* {
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

body {
    font-family: roboto, sans-serif;
    margin: 0;
    padding: 0;
}


/*Basic*/

h1 {
    color: black;
    font-size: 1.4em;
    font-weight: 600;
    margin-left: 3vw;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

h2 {
    font-size: 1.2em;
}

h3 {
    font-size: 1em;
    margin-top: 0;
}

h4 {
    font-size: 0.8em;
    font-weight: 700;
    margin-bottom: 0;
    color: #e7772b;
}

p {
    font-size: 1em;
}



/*Navigatie*/
header {
    display: flex;
    width: 100vw;
    text-align: center;
    background: #675c53;
    height: 2.5em;
    padding-right: 5vw;
    position: fixed;
    z-index: 5;
    display: flex;
    align-items: center;
}

header > a p {
    color: white;
    margin: auto;
}

header > a {
    justify-content: flex-start;
    margin-right: auto;
    display: flex;
    text-decoration: none;
}

header > a > img {
    margin-left: 5%;
    height: 2.5em;
}

header > form {
    display: flex;
    height: 1em;
}

header > form > input[placeholder=Zoeken] {
    visibility: hidden;
    width: 0;
}
header > form > input[placeholder=Zoeken]:focus {
    visibility: visible;
    width: 0;
}

header > form > img {
    margin-left: 0.5em;
    width: 1em;
    height: 1em;
    margin-right: -3em;
}

header > nav a {
    text-decoration: none;
}

header > nav > a span {
    visibility: hidden;
    width: 0;
    height: 0;
}

header > nav > a > img {
    margin-left: 0.5em;
}



/*Overzichtspagina*/

section {
    display: grid;
    background: #e7772b;
    width: 100%;
    padding-bottom: 1em;
    padding-top: 4.5em;
}

section > div > div {
    background: white;
    height: auto;
    width: 80%;
    padding: 1em;
    padding-top: 1.8em;
    padding-bottom: 1.8em;
    margin-bottom: 0;
    border-radius: 0 1em 1em 0;
}

section > div > div > h1 {
    margin-left: 0;
}

section > div > div > h1 + button {
    font-size: 1em;
    font-weight: 100;
    color: #8d857e;
    width: 50%;
    text-align: left;
    padding: 0.5em;
    padding-left: 0;
    border: 0;
    border-bottom: 1px solid #8d857e;
    background: none;
}

section > div > p {
    background: rgba(255, 255, 255, 0.2);
    font-size: 0.8em;
    color: white;
    width: 70%;
    padding: 0.5em;
    padding-left: 1em;
    margin-top: 0;
    margin-bottom: 1.5em;
    border-radius: 0 0 1em 0;
}



/*Filteropties*/
/*Genre*/
/*Bron: https://www.webdeveloper.com/forum/d/237908-two-column-in-fieldset/6*/
fieldset {
    border-style: none;
    padding: 0;
    padding-bottom: 1em;
}

form > fieldset > legend {
    font-weight: 500;
}

form > fieldset {
    width: 100%;
    margin-bottom: 1em;
    border-bottom: 1px solid #8d857e;
}

form > fieldset > div > div {
    font-size: 1em;
    width: 100%;
    float: left;
    justify-content: space-between;
    padding-right: 0.5em;
}

form > fieldset > div > div > label {
    clear: both;
    display: block;
    margin: 3px 0;
}

form > fieldset > div > div > p {
    float: right;
    margin: 0;
    margin-top: -1.5em;
}

form > fieldset > div > div > label > input[type^="checkbox"] {
    float: left;
    margin-right: 0.5em;
}

form > fieldset > button {
    font-size: 1em;
    margin-top: 0.2em;
    background: none;
    border: none;
    color: #54a5dd;
    text-decoration: underline;
}

form > fieldset > button:hover {
    text-decoration: none;
}


/*Leestijd*/
/*Bron: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_rangeslider*/
form > fieldset:nth-of-type(2) > legend {
    width: auto;
}

form > fieldset:nth-of-type(2) > legend + p {
    text-align: right;
    font-size: 1em;
    font-weight: 300;
    color: black;
    margin: 0;
    margin-bottom: 1em;
}

form > fieldset:nth-of-type(2) > div:nth-of-type(1) {
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: space-between;
}

form > fieldset:nth-of-type(2) > div:first-of-type > p {
    font-size: 0.8em;
    font-weight: 300;
    color: #8d857e;
    margin: 0;
}

form > fieldset:nth-of-type(2) > div:nth-of-type(2) > p {
    font-size: 0.8em;
    margin-bottom: 0.2em;
}

form > fieldset:nth-of-type(2) > div + div {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

form > fieldset:nth-of-type(2) > input {
    -webkit-appearance: none;
    width: 100%;
    height: 1em;
    background: #f1f1f1;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    border-radius: 1em 1em 1em 1em;
    grid-row: 2;
}

form > fieldset:nth-of-type(2) > input:hover {
    opacity: 1;
}

form > fieldset:nth-of-type(2) > input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 2em;
    height: 2em;
    background: #e7772b;
    cursor: pointer;
    border-radius: 1em 1em 1em 1em;
}

form > fieldset:nth-of-type(2) > input::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #e7772b;
    cursor: pointer;
}

/*Tekstvormen*/
form > fieldset:nth-of-type(3) {
    border: none;
}

input[name^="tekstvorm"] {
    float: left;
    padding: 0.5em;
    border: 0;
    margin-bottom: 1em;
    margin-right: 2%;
    font-size: 1em;
    border-radius: 0.5em 0.5em 0.5em 0.5em;
    background: white;
    box-shadow: 0 0.3em 0.8em 0 rgba(231, 119, 43, 0.3);
}

input[name^="tekstvorm"]:hover {
    color: white;
    background: #e7772b;
}

form > input {
    width: 100%;
    font-size: 1em;
    text-align: center;
    color: white;
    padding: 1em;
    padding-left: 2em;
    padding-right: 2em;
    background: #d6cec6;
    border-radius: 1em 1em 1em 1em;
    border: 0;
}

form > input:hover {
    background: #e7772b;
    cursor: pointer;
}



/*Meest gelezen verhalen*/

section:nth-of-type(2) {
    background-color: #f1f1f1;
    width: 100%;
    height: 24em;
    padding: 1em;
    margin-bottom: 9em;
}

section > a > article {
    width: 90%;
    height: 12em;
    background: white;
    border-radius: 0.5em 0.5em 0.5em 0.5em;
    box-shadow: 0 0.8em 0.8em 0 rgba(103, 92, 83, 0.3);
    position: relative;
}

section > a {
    color: black;
    width: 100%;
    margin: auto;
    margin-bottom: 1em;
}

a h3:hover {
    color: #e7772b;
}

section > a > article > img {
    width: 100%;
    height: 100%;
    border-radius: 0.5em 0.5em 0.5em 0.5em;
}

section > a > article > div {
    width: 80%;
    height: 10.5em;
    background: white;
    position: absolute;
    top: 1em;
    right: -2%;
    margin-right: -2em;
    padding: 1em;
    border-radius: 0.5em 0.5em 0.5em 0.5em;
    box-shadow: 0 0.8em 0.8em 0 rgba(103, 92, 83, 0.3);
}

section > a > article > div > h3 {
    height: 43%;
    margin-bottom: 1em;

}

section > a > article > div > footer > ul li {
    font-size: 0.8em;
    list-style-type: none;
    margin-left: -3em;
}

section > a > article > div > footer > div > img {
    float: left;
    margin: 0;
    margin-right: 0.2em;
}

section > a > article > div > footer > div > p {
    font-size: 0.8em;
    float: left;
    margin: auto;
    margin-top: auto;
    margin-right: 9%;
}



/*Resultaten*/
section + section:nth-of-type(3) {
    display: flex;
    width: 100%;
    padding: 0;
    height: 2em;
    margin-bottom: 2em;
    background: white;
    align-items: center;
    justify-content: space-between;
}

section:nth-of-type(3) > h2 {
    margin-left: 2vw;
}

section:nth-of-type(3) > form > label {
    font-weight: 500;
    margin-left: 0.5em;
}

section:nth-of-type(3) > form > label select[name^="sorteren"] {
    display: block;
    font-size: 1em;
    font-weight: 100;
    color: #8d857e;
    width: 10em;
    text-align: left;
    padding: 0.5em;
    padding-left: 0;
    margin-right: 5vw;
    margin-top: 0.5em;
    border: 0;
    border-radius: none;
    border-bottom: 1px solid #8d857e;
    background: none;
}

main > a {
    text-decoration-line: none;
    color: black;
}

main > a > article {
    width: 90%;
    margin: auto;
    margin-bottom: 2em;
    border-radius: 0.5em 0.5em 0.5em 0.5em;
    box-shadow: 0 0.8em 0.8em 0 rgba(103, 92, 83, 0.3);
}

main > a article > img {
    width: 100%;
    border-radius: 0.5em 0.5em 0 0;
}

main > a article > div {
    height: 10em;
    padding: 1em;
    padding-left: 1em;
}

main > a article > div > h3 {
    height: 50%;
    grid-row-start: 2;
}

main > a article > div > footer {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

main > a article > div > footer > ul li {
    font-size: 0.8em;
    list-style: none;
    margin-left: -3em;
}

main > a article > div > footer > div {
    display: flex;
    align-content: center;
    margin-right: 5%;
}

main > a article > div > footer > div > img {
    float: left;
    grid-row-start: 1;
    margin: 0;
    margin-right: 5%;
}

main > a article > div > footer > div > p {
    font-size: 0.7em;
    float: left;
    margin: auto;
    margin-top: auto;
    margin-right: 1em;
}

main > a article > div > footer > div > p:last-of-type {
    margin-right: 0em;
}

/*Footer*/

body > footer {
    background: rgb(241, 241, 241);
    padding-top: 2em;
}

footer > h2 {
    margin-left: 5%;
}

footer > a {
    color: #54a5dd;
    padding-bottom: 1em;
    margin-bottom: 1em;
    text-decoration-line: underline;
    text-align: left;
    margin-left: 5%;
    display: block;
    border-bottom: 1px solid #8d857e;
    margin-right: 5%;
}

footer > a:hover {
    text-decoration: none;
}

body > footer > div {
    background: white;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-right: 1em;
    margin-top: 2em;
}

footer > div > img {
    margin-bottom: 1em;
    margin-left: 5%;
}

footer > div > a {
    color: #afa9a2;
    padding-bottom: 1em;
    margin-bottom: 1em;
    text-decoration-line: none;
    text-align: left;
    margin-left: 5%;
    display: block;
}




/*Inlogpagina*/
section > div + form {
    background: white;
    border-radius: 1em 1em 1em 1em;
    width: 95%;
    padding: 1em;
    padding-top: 2em;
    padding-bottom: 2em;
    margin: auto;
    margin-bottom: 2em;
    box-shadow: 0 8px 18px 0 rgba(103, 92, 83, .3);
}

section > form > label {
    margin-bottom: 1em;
}

section > form > label > input[type^="email"] {
    width: 100%;
    height: 2em;
    border: none;
    margin-bottom: 2em;
    margin-top: 1em;
    border-bottom: 1px solid #8d857e;
}

section > form > label > input[type^="email"]:focus {
    border-bottom: 1px solid #fcd900;
}

section > form > label > input[type^="password"] {
    width: 100%;
    height: 2em;
    border: none;
    margin-top: 1em;
    margin-bottom: 2em;
    border-bottom: 1px solid #8d857e;
}

section > form > label > input[type^="password"]:focus {
    border-bottom: 1px solid #fcd900;
}

section > form > a {
    color: #54a5dd;
    display: block;
    margin-top: 1em;
}

section > form > a:hover {
    text-decoration-line: none;
}

div + form > input[name=inloggen] {
    width: 10em;
}

section > h1 + div {
    background-color: #f1f1f1;
    width: 95%;
    height: 14em;
    padding: 1em;
    padding-top: 1.5em;
    margin: auto;
    margin-bottom: 1em;
    margin-top: -3em;
    grid-row-start: 3;
    box-shadow: 0 8px 18px 0 rgba(103, 92, 83, .3);
    border-radius: 0 0 1em 1em;
}

section > div ul > li > img {
    float: left;
    width: 1em;
    height: 1em;
    margin-right: 1em;
}

section > div ul {
    padding: 0;
}

section > div ul li {
    list-style-type: none;
    margin-top: 1em;
    margin-bottom: 1em;
}

section > div ul + a[href="../index.html"] {
    position: absolute;
    width: 10em;
    font-size: 1em;
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 1em;
    background: #675c53;
    border-radius: 1em 1em 1em 1em;
    box-shadow: 0 8px 18px 0 rgba(103, 92, 83, .3);
}

section > div ul + a[href="../index.html"]:hover {
    font-size: 1em;
    color: white;
    padding: 1em;
    background: #675c60;
    border-radius: 1em 1em 1em 1em;
    cursor: pointer;
}


/*Verhalenpagina*/
.naamVerhaal {
    position: absolute;
}
section > footer > ul {
    width: 100%;
    float: left;
    padding: 0;
    margin-left: 5%;
}

section > footer > ul li {
    display: block;
    float: left;
    color: white;
    font-size: 0.8em;
    margin-right: 3em;
}

section > footer > div {
    margin-left: 5%;
}

section > footer > div > img {
    display: flex;
    float: left;
    grid-row: 3;
    margin: 0;
    margin-bottom: 1em;
    margin-right: 0.2em;
}

section > footer > div > p {
    grid-row: 3;
    font-size: 0.8em;
    color: white;
    float: left;
    margin: auto;
    margin-top: auto;
    margin-right: 2em;
}

main > img[src^="../images/Verhaal/Mobiel"] {
    visibility: visible;
    width: 100vw;
    height: 100vh;
}

main > img[src^="../images/Verhaal/desktop"] {
    visibility: hidden;
    height: 0;
}

main > img[src^="../images/Verhaal/tablet"] {
    visibility: hidden;
    height: 0;
}

section > footer + button {
    width: 5em;
    position: absolute;
    top: 85%;
    right: 5%;
    padding: 1%;
    border: 0;
    border-radius: 10em 10em 10em 10em;
    background: #8d857e;
    box-shadow: 0 0.3em 0.8em 0 rgba(0, 0, 0, 0.3);
}

button [alt^="verhaal-opslaan"] {
    width: 100%;
}

section + div {
    position: absolute;
    margin-left: 5%;
    top: 70%;
}

section + div > button:nth-of-type(1) {
    display: block;
    width: 4em;
    height: 4em;
    font-size: 1em;
    color: white;
    margin-bottom: 1em;
    background: rgb(255, 0, 0);
    border: 0;
    border-radius: 10em 10em 10em 10em;
    box-shadow: 0 0.3em 0.8em 0 rgba(0, 0, 0, 0.3);
}

button + button:nth-of-type(2) {
    width: 4em;
    height: 4em;
    font-size: 1em;
    color: white;
    background: rgb(0, 255, 255);
    border: 0;
    border-radius: 10em 10em 10em 10em;
    box-shadow: 0 0.3em 0.8em 0 rgba(0, 0, 0, 0.3);
}

main > img + button {
    position: absolute;
    padding: 1em;
    border: none;
    top: 80%;
    right: 1em;
    width: 7em;
    height: 7em;
    background: #8d857e;
    border-radius: 10em 10em 10em 10em;
}

main > button > img[src="../images/review-icon.png"] {
    width: 80%;
    height: 90%;
}

.beoordelingKnopSpin {
    animation: spin 1.3s linear;
    background: #fcd900;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


div + main > div {
    position: absolute;
    width: 100%;
    background: #e7772b;
    padding: 1em;
    height: auto;
    top: 56%;
}

main > button + div > form {
    background: white;
    width: 100%;
    height: 17em;
    padding: 1em;
    border-radius: 1em 1em 1em 1em;
}

main > div > form > img[src^="../images/ster-icon-wit.png"] {
    width: 2em;
    margin-bottom: 1em;
    background: #8d857e;
    border-radius: 1em 1em 1em 1em;
}

main > div > form > img[src^="../images/ster-icon-wit.png"]:hover {
    background: #fcd900;
}

main > div > form > img + fieldset > legend {
    font-size: 1em;
    font-weight: 600;
}

main > div > form > img + fieldset {
    padding-left: 0;
    border-bottom: 0;
    margin-bottom: 1.5em;
}

main > div > form > img + fieldset > label {
    float: left;
    margin-right: 2em;
}

main > div > form > img + fieldset > label > input[type^="radio"] {
    float: left;
}

/*microinteractie*/

.filter {
    visibility: hidden;
    height: 0;
    position: absolute;
    z-index: 3;
}
.zichtbaar {
    background: white;
    width: 97%;
    height: auto;
    padding: 1em;
    padding-top: 1.8em;
    padding-bottom: 1.8em;
    margin-top: 0em;
    border-radius: 1em 1em 1em 1em;
    visibility: visible;
    transition: 0.5s;
}

.tweedeGenre {
    visibility: hidden;
    height: 0;
}
.zichtbaarOpties {
    background: white;
    height: auto;
    visibility: visible;
    transition: 0.5s;
}

.beoordeling {
    visibility: hidden;
    height: auto;
    transition: 0.5s;
}
.beoordelingZichtbaar {
    height: auto;
    visibility: visible;
    z-index: 2;
}





@media(min-width: 30em) {
    body {
        display: grid;
    }

    header > form {
        display: flex;
    }

    header > form > input[placeholder=Zoeken] {
        visibility: visible;
        width: auto;
        padding: 0;
        background: none;
        border: none;
        border-radius: 0em 0em 0em 0em;
        box-shadow: 0;
    }

    header > form > input::placeholder {
        color: white;
        font-weight: 330;
    }

    header > form > input[type=text] {
        text-align: right;
        width: 8em;
        color: white;
        font-size: 1em;
        font-weight: 330;
    }

    header > form > input[type=text]:focus {
        border-bottom: 1px solid #fcd900;
    }

    header > form > img {
        margin-left: 0.5em;
        margin-right: 0;
        width: 1em;
        height: 1em;
    }

    header > nav a {
        text-decoration: none;
    }

    header > nav {
        display: flex;
        margin-left: 1em;
    }

    header > nav > a span {
        visibility: visible;
        width: auto;
        color: white;
        font-size: 1em;
        font-weight: 330;
    }

    header > nav > a > img {
        margin-left: 0.5em;
    }

    section:nth-of-type(1) {
        display: grid;
        grid-column: 1/6;
        grid-template-columns: repeat(10, 1fr);
        height: auto;
    }

    section > div {
        grid-column: 1/5;
        height: auto;
        width: 90%;
        margin-left: 5%;
    }

    section > div > div {
        width: 100%;
        height: 25%;
        border-radius: 1em 1em 1em 1em;
    }

    section > div > div button {
        visibility: hidden;
        height: 0;
    }

    section > div > p {
        border-radius: 0em 0em 1em 1em;
        margin-left: 5%;
    }

    .filter {
        visibility: visible;
        position: inherit;
        width: 110%;
        margin-top: 0;
        height: auto;
        grid-row: 1;
        grid-column: 5 / 10;
    }

    section > form > fieldset > div {
        float: left;
    }

    section:nth-of-type(3) {
        margin-top: 2em;
        grid-column-gap: 1em;
    }

    section > a > article > img {
        width: 100%;
        height: 100%;
        border-radius: 0.5em 0.5em 0.5em 0.5em;
    }

    section > a > article > div {
        height: 14em;
        right: -1%;
        margin-right: -5%;
    }

    section:nth-of-type(2) {
        height: 14em;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column: 1/6;
        margin-bottom: 6em;
    }

    section > a {
        grid-row-start: 2;
    }

    section > a > article > div > h3 {
        height: 60%;
    }

    section + section:nth-of-type(3) {
        grid-column: 1 /6;
    }

    section:nth-of-type(3) > form > label {
        display: flex;
        align-content: center;
        margin-right: 3vw;
    }

    section:nth-of-type(3) > form > label select[name^="sorteren"] {
        margin: 0;
        margin-left: 1em;
    }

    section + section + main {
        display: grid;
        grid-column: 1/6;
        grid-template-columns: repeat(2, 1fr);
    }

    main > a article > div > footer {
        width: 100%;
    }

    main > a article > div > footer > div > p {
        margin-right: 5%;
    }

    body > footer {
        display: grid;
        grid-column: 1/6;
        grid-template-columns: repeat(3, 1fr);
        align-content: center;
    }

    body > footer a {
        display: flex;
        margin-left: 5%;
        grid-row-start: 2;
    }

    body > footer > div {
        display: grid;
        grid-column: 1/6;
        grid-template-columns: repeat(6, 1fr);
        align-items: center;
    }

    body > footer img {
        grid-row-start: 2;
    }

    body > footer > div a {
        width: 10em;
        padding: 0;
    }


    /*Inlogpagina*/
    section div + form {
        display: grid;
        grid-column: 1 / 5;
        grid-row: 2 / 3;
        padding: 1.5em;
        margin-top: 0;
        margin-left: 5%;
    }

    section h1 + div {
        grid-column: 5 / 11;
        grid-row: 2 / 3;
        height: 80%;
        padding-left: 2em;
        margin-left: -1em;
        border-radius: 0em 1em 1em 0em;
        margin-top: 5%;
        margin-bottom: 0;
    }

    /*Verhalenpagina*/
    header + section > h1 + footer {
        grid-column: 1 / 5;
        grid-row: 2 / 3;
    }

    section > footer > ul li {
        grid-column-end: 4;
    }

    main > img[src^="../images/Verhaal/Mobiel"] {
        visibility: hidden;
        height: 0;
    }

    main > img[src^="../images/Verhaal/desktop"] {
        visibility: hidden;
        height: 0;
    }

    main > img[src^="../images/Verhaal/tablet"] {
        visibility: visible;
        width: 100vw;
        height: 100vh;
    }

    div + main > div {
        right: 0;
        width: 30em;
    }
}

@media(min-width: 60em) {
        body {
            display: grid;
        }

        header > form > input[type=text] {
            width: 15em;
        }

        section:nth-of-type(1) {
            display: grid;
            grid-column: 1/6;
            grid-template-columns: repeat(10, 1fr);
            grid-template-rows: auto auto auto;
            height: auto;
        }

        section > div {
            grid-column: 1/5;
        }

        section > div > div {
            border-radius: 1em 1em 1em 1em;
            height: 8em;
        }

        section > div > div button {
            /*filteren bovenaan*/
            visibility: hidden;
        }

        section > div > p {
            border-radius: 0 0 1em 1em;
            margin-left: 5%;
        }

        .filter {
            visibility: visible;
            width: 110%;
            height: auto;
            margin-top: 0;
            grid-column: 5/10;
            grid-row: 1/3;
        }

        section > form > fieldset > button {
            visibility: hidden;
            height: 0;
        }

        .tweedeGenre {
            visibility: visible;
            margin-top: -1.5em;
            transition: 0s;
        }

        section > form > fieldset > div {
            width: 50%;
        }

        section {
            grid-column-gap: 1em;
        }

        section:nth-of-type(2) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-column: 1/6;
        }

        section > a > article > div {
            height: 10em;
        }

        section > a > article > div > h3 {
            height: 3em;
        }

        section > a {
            grid-row-start: 2;
        }

        section + section + main {
            display: grid;
            grid-column: 1/6;
            grid-template-columns: repeat(3, 1fr);
        }


        /*Inlogpagina*/
        section div + form {
            display: grid;
            grid-column: 1 / 6;
            grid-row: 2 / 3;
            margin-top: 0;
        }

        div + form > input {
            max-width: 20em;
        }

        section h1 + div {
            grid-column: 6 / 10;
            grid-row: 2 / 3;
            height: 70%;
            padding-left: 2em;
            margin-left: -1em;
            border-radius: 0 1em 1em 0;
            margin-top: 5%;
            margin-bottom: 0;
        }

        /*Verhalenpagina*/
        main > img[src^="../images/Verhaal/Mobiel"] {
            visibility: hidden;
            width: 0;
            height: 0;
        }

        main > img[src^="../images/Verhaal/desktop"] {
            visibility: visible;
            width: 100vw;
            height: 100vh;
        }

        main > img[src^="../images/Verhaal/tablet"] {
            visibility: hidden;
            width: 0;
            height: 0;
        }
    }
