body{
    font-family: roboto, sans-serif;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
    width: 100%;
}

@media(max-width: 30em){
  body{
  grid-template-columns: repeat(1, 1fr);
  }
  }

@media(min-width: 30em max-width: 60em){
  body{
  grid-template-columns: repeat(2, 1fr);
  }
  }

header {
    width: 100%;
    text-align: center;
    background: #675c53;
    top: 0;
    height: 2.5em;
    margin-left: -1em;
    padding-right: 1em;
    position: fixed;
    z-index: 5;
    display: flex;
    justify-content: flex-end;
}

header > img {
    margin-left: 1em;
    height: 2.5em;
}

header > h1 {
    font-size: 1.4em;
    font-weight: 400;
    color: white;
    margin: auto;
}

header > nav > a > img {
    padding-top: 0.5em;
    margin-right: 1em;
}

header > form{
    padding-top: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
}

/*Overzichtspagina*/

section {
    background: #e7772b;
    width: 100%;
    padding: 2em;
    padding-top: 4em;
    margin-left: -1em;
}
section > div {
    background: white;
    width: 90%;
    margin-left: -1.5em;
    margin-top: 0em;
    border-radius: 0em 1em 1em 0em;
}

section > div h2{
    background: white;
    font-size: 1.2em;
    font-weight: 800;
    padding: 0.5em;
    padding-left: 1em;
    margin: 0;
}

section > div h4 {
    font-size: 0.8em;
    font-weight: 700;
    padding-left: 1em;
    padding-top: 1em;
    margin-bottom: 0em;
    color: #e7772b;
}

section > p {
    background: rgba(255, 255, 255, 0.2);
    font-size: 0.8em;
    color: white;
    width: 75%;
    padding: 0.5em;
    padding-left: 2em;
    margin-left: -2em;
    margin-top: 0em;
    margin-bottom: 0em;
    border-radius: 0em 0em 1em 0em;
}

section > div button {   /*filteren bovenaan*/
    font-size: 1em;
    width: 15em;
    text-align: left;
    padding: 0.5em;
    padding-left: 0em;
    margin-left: 1em;
    border: 0;
    margin-bottom: 1em;
    border-bottom: 1px solid #8d857e;
}

body > form:first-of-type /* verhaal vinden*/ {
    background: #e7772b;
    width: 100%;
    padding-top: 4em;
    padding-right: 4.5em;
    padding-bottom: 1em;
    margin-left: -1em;
}

fieldset {
    display: none;
}

body > section > form {
      margin-top: 0em;
      transition: margin 0.4s ease-out;
}
.show-search {
      top: 0em;
}

form > button /*sorteren knop*/{
    background: rgb(214, 206, 198);
    font-size: 1em;
    bottom: 15em;
    right: -3em;
    padding: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
    border-radius: 0.5em 0.5em 0.5em 0.5em;
    position: relative;
    float: right;
    z-index: 4;
}

form > bottom:hover {
    color: rgb(231, 119, 43);
}

form input {
    display: none;
}

/*Populair verhaal*/

main > h2:first-of-type {
    width: 90%;
    font-size: 1.2em;
    background: rgb(241, 241, 241);
    padding-right: 2.6em;
    padding-bottom: 10em;
    padding-left: 1.5em;
    padding-top: 1em;
    margin-top: -1em;
    margin-left: -1em;
    margin-bottom: 0em;
}

div > article a > footer {
    width: 14em;
    background: white;
    position: relative;
    float: right;
    top: -12em;
    margin-right: -2em;
    padding: 1em;
    border-radius: 0.5em 0.5em 0.5em 0.5em;
    box-shadow: 0 0.8em 0.8em 0 rgba(103, 92, 83, 0.3);
}

div > article a > footer > h3 {
    font-size: 1em;
    margin-top: 0;
}

div > article a > footer > p {
    font-size: 0.8em;
    line-height: 0.3em;
    float: none;
}

div > article a > footer > div > img{
    float: left;
    margin: 0em;
    margin-right: 0.2em;
}

div > article a > footer > div > p {
    font-size: 0.8em;
    float: left;
    margin: auto;
    margin-top: auto;
    margin-right: 2em;
}


main > div > article {
    width: 90%;
    height: 12em;
    background: white;
    top: -11em;
    margin-bottom: 0em;
    border-radius: 0.5em 0.5em 0.5em 0.5em;
    box-shadow: 0 0.8em 0.8em 0 rgba(103, 92, 83, 0.3);
    box-sizing: border-box;
    position: relative;
    z-index: 2;
}

main > h2 {
    font-size: 1.2em;
}

form > button {
    font-size: 1em;
    width: 10em;
    text-align: left;
    padding: 0.5em;
    padding-left: 0em;
    margin-left: 1em;
    border: 0;
    margin-bottom: 1em;
    border-bottom: 1px solid #8d857e;
    background: none;
}

article > a > img{
    width: 100%;
    height: 100%;
    background: white;
    border-radius: 0.5em 0em 0em 0.5em;
}

main > article {
    padding: 1em;
    height: auto;
    border-radius: 0.5em 0.5em 0.5em 0.5em;
    box-shadow: 0 0.8em 0.8em 0 rgba(103, 92, 83, 0.3);
}

article a > footer > p {
    font-size: 0.8em;
    line-height: 0.3em;
    float: none;
}

article a > footer > div > img{
    float: left;
    margin: 0em;
    margin-right: 0.2em;
}

article a > footer > div > p {
    font-size: 0.8em;
    float: left;
    margin: auto;
    margin-top: auto;
    margin-right: 2em;
}
*/

footer > a {
    color: blue;
    text-decoration-line: none;
    text-align: left;
    padding-bottom: 0.5em;
    margin-left: 1em;
    display: block;
    border-bottom: 1px solid #8d857e;
}

body > footer {
    width: 20em;
    padding: 1em;
    background: rgb(241, 241, 241);
}
